.welcome {
  background-color: black;
  border-radius: 5px;
  color: white;
  font-size: 40px;
  padding: 1rem 2rem 2rem;
  text-align: center;
}

.welcome_span {
  background-color: white;
  border-radius: 5px;
  color: black;
  margin: 0rem 1.5rem;
  padding-bottom: 0.5rem;
}

.presentation {
  background-color: lightgray;
  border-radius: 5px;
  padding: 1rem 2rem 2rem;
  text-align: center;
  margin-top: 2rem;
}
